<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/custom.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script language="JavaScript" type="text/javascript" src="static/custom.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">

</head>

<header>
        <nav class="navbar navbar-light navbar-toggleable-sm navbar-fixed-top">
          <a href="" class="navbar-brand mb-0">OpenGenus Foundation</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="headerNav" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="">Quark</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="">Cosmos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">IQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Discuss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Search Engine</a>
              </li>

            </ul>
          </div>
        </nav>
    </header>


  <section class="hero">

    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <h1 class="display-5">Cosmos</h1>
            <h5 style="color: white !important;" class="display-5">by OpenGenus Foundation</h5>

            <p class="lead">The Algorithms that run our Universe</p>

            <p class="lead">
              <a href="https://github.com/opengenus" target="_blank"><i class="fa fa-3x fa-github-square"></i></a>
              <a href="https://twitter.com/opengenus" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
		          <a href="https://discourse.opengenus.org" target="_blank"><i class="fa fa-3x fa-commenting-o"></i></a>
		          <a href="mailto:team@opengenus.org" target="_blank"><i class="fa fa-3x fa-envelope"></i></a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sec-about" class="sec-about pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-10 col-lg-8">
          <h1 class="h4">About Cosmos</h1>
          <p class="mt-4 mb-4">
            Cosmos is your personal offline collection of every algorithm and data structure one will ever encounter and use in a lifetime. This provides solutions in various languages spanning C, C++, Java, JavaScript, Swift, Python, Go and many others.
            <br><br>
            <strong>Over 800 happy awesome people have contributed to Cosmos.</strong>

            <br><br>

            This work is maintained by a community of hundreds of people and is a massive collaborative effort to bring the readily available coding knowledge offline.

            <br><br>
            <strong>Cosmos is one of the most popular open-source projects with over 7000 stars and 800 contributors.</strong>

            <br><br>
            Currently, we have 5 active maintainers and we are expanding quickly. The task of maintainers is to review pull requests, suggest further quality additions and keep the work up to date with the current state of the world. You can, also, join us as a maintainer.

            <br><br>
            <strong>Contributing to Cosmos is one of the most easy and learning intensive task.</strong>

            Check out Cosmos and help us develop it to be the best:<br><br>

            <div class="pro"><img src="static/image/cosmos.png"></div>
            <br><br><br>
             <p class="lead">
              <a class="btn btn-primary btn-lg" href="https:github.com/opengenus/cosmos" target="_blank" role="button">Cosmos on GitHub</a>
            </p>

            <div class="contributors py-4">
              <h1 class="h4">Cosmos Contributors</h1>
            	{% for d in data.data %}
            	    <a href={{d.link}} target="_blank" class="d-inline-block my-1" data-toggle="tooltip" title={{d.contributions}}  style="width:6%;"><img src={{d.user_image}} alt={{d.name}} class="rounded-circle mw-100 mh-100" /></a>
            	{% endfor %}
            </div>

          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="sec-contact" class="sec-contact pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
          <h1 class="h4">For press enquiry, story tips and anything else, contact us at team@opengenus.org </h1>
        </div>
      </div>
    </div>
  </section>

  <br><br><br>

  <footer class="footer fixed-bottom">
      <ul class="list-inline mb-0 text-center">

        <li class="list-inline-item">
          <a href="https://twitter.com/opengenus" target="_blank"><span class="fa fa-twitter"></span></a>
        </li>

        <li class="list-inline-item">
          <a href="https://github.com/opengenus" target="_blank"><span class="fa fa-github-square"></span></a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.linkedin.com/company/opengenus" target="_blank"><span class="fa fa-linkedin"></span></a>
        </li>

        <li class="list-inline-item">
          <a href="mailto:team@opengenus.org" target="_blank"><span class="fa fa-envelope-o"></span></a>
        </li>
      </ul>
  </footer>
