<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/custom.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script language="JavaScript" type="text/javascript" src="static/custom.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
<meta name="description" content="OpenGenus Foundation, one of the largest open-source communities in the World focussed on enabling people to work offline for a longer stretch, making search generation and discussion specific and making research more accessible">
<meta name="keywords" content="OpenGenus, open-source, communities, offline internet">
<meta name="author" content="Aditya Chatterjee">

<link rel="shortcut icon" type="image/png" href="static/front/favicon.jpg"/>

<title>OpenGenus Foundation</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-87735442-4', 'auto');
  ga('send', 'pageview');
</script>

</head>

<header>
        <nav class="navbar navbar-light navbar-toggleable-sm navbar-fixed-top">
          <a href="" class="navbar-brand mb-0">OpenGenus Foundation</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="headerNav" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/OpenGenus/quark" target="_blank">Quark</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://github.com/OpenGenus/cosmos" target="_blank">Cosmos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://iq.opengenus.org/" target="_blank">IQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://discourse.opengenus.org/" target="_blank">Discuss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/OpenGenus/cosmos-search" target="_blank">Search Engine</a>
              </li>

            </ul>
          </div>
        </nav>
    </header>


  <section class="hero">
    
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <h1 class="display-5">OpenGenus Foundation</h1>

            <p class="lead">We are one of the largest open-source communities in the World and we are bringing the Internet offline. </p>

            <p class="lead">
              <a href="https://github.com/opengenus" target="_blank"><i class="fa fa-3x fa-github-square"></i></a>
              <a href="https://twitter.com/opengenus" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
		      <a href="https://discourse.opengenus.org" target="_blank"><i class="fa fa-3x fa-commenting-o"></i></a>
		      <a href="mailto:team@opengenus.org" target="_blank"><i class="fa fa-3x fa-envelope"></i></a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sec-about" class="sec-about pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-10 col-lg-8">
          <p class="mt-4 mb-4"><strong>OpenGenus Foundation</strong> is an open-source non-profit organization with the aim to enable people to work offline for a longer stretch, reduce the time spent on searching by exploiting the fact that almost 90% of the searches are same for every generation and to make programming more accessible. <br><br>
          OpenGenus is all about positivity and innovation.
          <br><br>
          Over 800 people have contributed to our missions and joined our family. We have been sponsored by three great companies namely Discourse, GitHub and DigitalOcean. We run one of the most popular open-source projects and have made a positive impact over people's life.
          </p>
        </div>
      </div>

      
    </div>
  </section>

  <section class="hero">
    
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">

            <p class="lead">Over half of the World's population is without a reliable internet connection. We are on a mission to enable people to enjoy the internet in such conditions and help imagine and lead a progressive life without Internet.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>

  <h3 style="text-align: center">Sponsors of OpenGenus Foundation</h3>
  <br><br><br><br>
  <div id="div-wrapper">
    <div class="single-div"> <img src="/static/image/dl_1.png"> </div>
    <div class="single-div"> <img src="/static/image/do_1.png"> </div>
    <div class="single-div"> <img src="/static/image/gh_1.png"> </div>
  </div>
  <br><br><br><br>
  <h5 style="text-align: center">OpenGenus Foundation has been selected as a mentor organization at Rails Girls Summer of Code</h5>
  <br>
  <div id="div-wrapper">
    <div class="single-div"> <img src="/static/image/rgsoc_1.png"> </div>
  </div>
  <br>

  <hr>
  <br>
  
  <section id="sec-pricing" class="sec-pricing">
    <div class="container">
      <h1 class="h4 mb-5 text-center">Projects at OpenGenus</h1>
      
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title h5">Cosmos</h4>

              <h5 class="card-title h6">Algorithms that run our Universe</h5>

              <p class="card-text">One of the largest algorithmic data-store resulting from crowd-sourcing contributions from over 800+ programmers and one of the most popular projects at GitHub.</p>

              <a href="https://github.com/OpenGenus/cosmos" target="_blank" class="btn btn-primary">Find out more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title h5">Quark</h4>

              <h5 class="card-title h6">Bringing the Internet offline</h5>

              <p class="card-text">Quark is the World's first offline search engine that enables people to continue coding and stay productive while offline.</p>

              <a href="https://github.com/OpenGenus/quark" class="btn btn-primary" target="_blank">Find out more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block justify-content-center">
              <h4 class="card-title h5">Search Engine</h4>

              <h5 class="card-title h6">Making searching more generation sensitive</h5>

              <p class="card-text">The search engine that is the choice of every programmer. It relies on the key idea that "searches made by every generation is nearly same."</p>

              <a href="https://github.com/OpenGenus/cosmos-search" class="btn btn-primary" target="_blank">Find out more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title h5">IQ</h4>

              <h5 class="card-title h6">Bringing information in most effective way</h5>

              <p class="card-text">The flexible place to grow your projects in a community of start-ups, freelancers and entrepreneurs, flex desk.</p>

              <a href="http://iq.opengenus.org/" class="btn btn-primary" target="_blank">Find out more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title h5">Discuss</h4>

              <h5 class="card-title h6">Flostering discussions for good</h5>

              <p class="card-text">The flexible place to grow your projects in a community of start-ups, freelancers and entrepreneurs, flex desk.</p>

              <a href="https://discourse.opengenus.org/" class="btn btn-primary" target="_blank">Find out more</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <br><br>

  <h3 style="text-align: center">OpenGenus Foundation has been featured at several places.</h3>
  <br><br><br><br>
  <div id="div-wrapper">
    <div class="single-div"> <img src="/static/image/hackernoon_1.png"> </div>
    <div class="single-div"> <img src="/static/image/codeburst_1.png"> </div>
    <div class="single-div"> <img src="/static/image/wikiversity_1.png"> </div>
  </div>
  <p style="text-align: center">and many other places including <strong>Reddit</strong>, <strong>GitHub</strong>, <strong>Linux Weekly Daily Wednesday podcast</strong>, <strong>Coinaffairs</strong>, <strong>Bitcoininsider</strong>, <strong>qq</strong>, <strong>ostechnix</strong> and <strong>cointreat</strong>.</p>
  <br><br>

  <br><br><br><br>

  <section id="sec-contact" class="sec-contact pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">          
          <h1 class="h4">For press enquiry, story tips and anything else, contact us at team@opengenus.org </h1>
        </div>
      </div>
    </div>
  </section>

  <br><br><br><br><br><br>

  <footer class="footer fixed-bottom">
      <ul class="list-inline mb-0 text-center">

        <li class="list-inline-item">
          <a href="https://twitter.com/opengenus" target="_blank"><span class="fa fa-twitter"></span></a>
        </li>
        
        <li class="list-inline-item">
          <a href="https://github.com/opengenus" target="_blank"><span class="fa fa-github-square"></span></a>
        </li>
        
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/company/opengenus" target="_blank"><span class="fa fa-linkedin"></span></a>
        </li>
        
        <li class="list-inline-item">
          <a href="mailto:team@opengenus.org" target="_blank"><span class="fa fa-envelope-o"></span></a>
        </li>
      </ul>
  </footer>
