<html>

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/intern.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="OpenGenus Internship {{data.username}} {{data.profile}} {{data.about}} ">
    <meta name="keywords" content="OpenGenus, open-source, communities, internship, {{data.username}}, {{data.profile}}">
    <title>OpenGenus Intern: {{data.username}}</title>
  </head>
  <body>
    <nav class="navbar bg-light">
      <a class="navbar-brand" href="#">
       <img src="https://avatars3.githubusercontent.com/u/18506046?s=200&v=4" width="40" height="40" alt="OpenGenus Foundation">
     </a>
      <a href=""><span class="navbar-brand h5 mb-0 text-uppercase font-weight-bold text-dark">OpenGenus</span></a>
      <div class="ml-auto">
        <ul class="list-inline mb-0 text-center nav">
          <li class="list-inline-item">
            <a href="https://twitter.com/opengenus" target="_blank"><span class="fa fa-twitter text-dark"></span></a>
          </li>

          <li class="list-inline-item">
            <a href="https://github.com/opengenus" target="_blank"><span class="fa fa-github-square text-dark"></span></a>
          </li>

          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/opengenus" target="_blank"><span class="fa fa-linkedin text-dark"></span></a>
          </li>

          <li class="list-inline-item">
            <a href="mailto:team@opengenus.org" target="_blank"><span class="fa fa-envelope-o text-dark"></span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="fluid-container p-5">
      <div class="row p-1">
        <div class="col-sm-12 col-md-3">
          <div class="px-3">
            <img src="/static/user/intern/picture/{{username}}.jpeg" class="rounded w-100 mb-4" alt={{data.username}}>
            <h5 class="blue-color">{{data.username}}</h5>
            <h6 class="font-weight-light blue-color text-dark">{{data.profile}}</h6>
            <h6 class="font-weight-light purple-color text-secondary">{{data.start}} - {{data.end}}</h6>
            <a href={{data.discourse_link}} target="_blank"><button type="button" class="btn btn-primary btn-md btn-block mt-4 rounded-0 disclosure font-weight-light">Talk on Discourse</button></a>
          </div>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="p-2">
            <h5 class="heading pl-3">About {{data.username}}</h5>
            <p class="pl-3 description py-1">{{data.about}}</p>
          </div>
          <div class="p-2">
            <h5 class="heading pl-3">Projects</h5>
            <p class="pl-3 description py-1">{{data.project}}</p>
          </div>
          <div class="p-2">
            <h5 class="heading pl-3">Favorite Experience</h5>
            <p class="pl-3 description py-1">{{data.favorite_experience}}</p>
          </div>
        </div>
      </div>
      <div class="fixed-bottom bg-dark py-2">
        <ul class="list-inline mb-0 text-center">
          <li class="list-inline-item px-1">
            <a href="https://twitter.com/opengenus" target="_blank"><span class="fa fa-twitter text-light"></span></a>
          </li>

          <li class="list-inline-item px-1">
            <a href="https://github.com/opengenus" target="_blank"><span class="fa fa-github-square text-light"></span></a>
          </li>

          <li class="list-inline-item px-1">
            <a href="https://www.linkedin.com/company/opengenus" target="_blank"><span class="fa fa-linkedin text-light"></span></a>
          </li>

          <li class="list-inline-item px-1">
            <a href="mailto:team@opengenus.org" target="_blank"><span class="fa fa-envelope-o text-light"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
