<html>

<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/custom.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script language="JavaScript" type="text/javascript" src="static/custom.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">

</head>

<header>
        <nav class="navbar navbar-light navbar-toggleable-sm navbar-fixed-top">
          <a href="" class="navbar-brand mb-0">OpenGenus Foundation</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="headerNav" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="">Quark</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="">Cosmos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">IQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Discuss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Search Engine</a>
              </li>

            </ul>
          </div>
        </nav>
    </header>


  <section class="hero">
    
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <h1 class="display-5">Quark</h1>
            <h5 style="color: white !important;" class="display-5">by OpenGenus Foundation</h5>

            <p class="lead">Bringing the Internet offline</p>

            <p class="lead">
              <a href="https://github.com/opengenus" target="_blank"><i class="fa fa-3x fa-github-square"></i></a>
              <a href="https://twitter.com/opengenus" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
              <a href="https://discourse.opengenus.org" target="_blank"><i class="fa fa-3x fa-commenting-o"></i></a>
              <a href="mailto:team@opengenus.org" target="_blank"><i class="fa fa-3x fa-envelope"></i></a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sec-about" class="sec-about pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-10 col-lg-8">
          <h1 class="h4">About Quark</h1>
          <p class="mt-4 mb-4">
            This is the World's first Offline code Search Engine presented by OpenGenus Foundation. You can, now, search code for any algorithm or data-structure in your favorite language even when you are not connected to the internet.
            <br><br>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="https:github.com/opengenus/quark" target="_blank" role="button">Quark on GitHub</a>
              <a class="btn btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/opengenus-offline-search/lfoloadpfjildomeafpdopahkdaoofbn" target="_blank" role="button">Quark on Chrome Web Store</a>
            </p>
            <br><br>We are on a mission to bring the best parts of the Internet Offline, enable people to work offline for a longer period of time and revolutionize the way people interact with the web.
            <br><br>
            "We made the internet and it made us vulnerable. We fought and we won."
            <br><br>
            The best part is that the massive effort put to build this awesome search engine is open to all. Yes, we are an open-source organization and over 1000 people have become an integral part of our family in our ambitious journey. You can help us too.
            <br><br>
            Enjoy this tweet by David Heinemeier Hansson:
            <br><br>
            <div class="pro"><img src="/static/image/ddh_tweet.png"></div>
            <br><br>
            Quark:
            <br><br>
            <div class="pro"><img src="/static/image/quark.png"></div>
            <br><br>
             <p class="lead">
              <a class="btn btn-primary btn-lg" href="https:github.com/opengenus/quark" target="_blank" role="button">Quark on GitHub</a>
              <a class="btn btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/opengenus-offline-search/lfoloadpfjildomeafpdopahkdaoofbn" target="_blank" role="button">Quark on Chrome Web Store</a>
            </p>

          </p>
        </div>
      </div>

      
    </div>
  </section>

  <section id="sec-contact" class="sec-contact pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">          
          <h1 class="h4">For press enquiry, story tips and anything else, contact us at team@opengenus.org </h1>
        </div>
      </div>
    </div>
  </section>

  <br><br><br>

  <footer class="footer fixed-bottom">
      <ul class="list-inline mb-0 text-center">

        <li class="list-inline-item">
          <a href="https://twitter.com/opengenus" target="_blank"><span class="fa fa-twitter"></span></a>
        </li>
        
        <li class="list-inline-item">
          <a href="https://github.com/opengenus" target="_blank"><span class="fa fa-github-square"></span></a>
        </li>
        
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/company/opengenus" target="_blank"><span class="fa fa-linkedin"></span></a>
        </li>
        
        <li class="list-inline-item">
          <a href="mailto:team@opengenus.org" target="_blank"><span class="fa fa-envelope-o"></span></a>
        </li>
      </ul>
  </footer>
