*{
  font-family: 'Montserrat',sans-serif;
}

.disclosure{
  background: #5352ed;
  box-shadow: 1px 1px 15px 0px rgba(83,82,237,.5);
  transition: all cubic-bezier(1,.5,0,1) .2s;
}

.disclosure:hover{
  box-shadow: 2px 3px 20px 0px rgba(83,82,237,.5);
  transform: translateY(-2px);
  background: rgba(83, 82, 237,1.0);
}

a:hover{
  text-decoration: none;
}

.heading{
  color:  #5352ed;
  border-left: 5px solid #5352ed;
}

.description{
  color: #2f3542;
  border-left: 5px solid transparent;
}

.nav .fa{
  font-size: 1.4em;
}
*{
  font-family: 'Montserrat',sans-serif;
}

.blue-color{
  color: #3742fa;
}

.purple-color{
  color: #5352ed;
}
